# Dependências do projeto TAREFASAPI (ASP.NET Core)
# Este arquivo lista os pacotes NuGet utilizados no projeto.
# Para instalar, use: dotnet add package <nome-do-pacote>

Microsoft.AspNetCore.Cors==2.3.0
Microsoft.EntityFrameworkCore.Sqlite==7.0.20
Microsoft.EntityFrameworkCore.Design==7.0.20
Microsoft.EntityFrameworkCore.Tools==7.0.20
Microsoft.Extensions.Logging.Console==7.0.0
Swashbuckle.AspNetCore==6.5.0
